flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
python-dotenv==1.0.1

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2

tensorflow==2.13.1
keras==2.13.1

opencv-python-headless==4.9.0.80
pillow==10.3.0

librosa==0.10.1
soundfile==0.12.1
scipy==1.11.4
numba==0.58.1
llvmlite==0.41.1

matplotlib==3.8.4
requests==2.31.0
